html, body {
  height:100%;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  width: 100%;
}

.board-row:after {
  clear: both;
  content: "";
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 34px;
  height: 58px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 58px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.card-content {
  margin: auto
}

/* .game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
} */

.game-container {
  margin: auto;
  /* width: 99px; */
}

.mode-btn {
  margin-bottom: 10px;
}

.reset-btn {
  margin-top: 5px;
}

.container {
  height: 100vh;
}